@font-face {
  font-family: 'MavenPro';
  src: local('MavenPro'), url('MavenPro-VariableFont_wght.ttf'), format('ttf');
}

nav {
  text-align: center;
  font-family: 'MavenPro', sans-serif;
  font-size: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  text-align: center;
  font-family: 'MavenPro', sans-serif;
  font-size: 30px;
}

a:link {
  color: rgb(67, 160, 247);
  text-decoration: none;
}


a:visited {
  color: rgb(67, 160, 247);
  text-decoration: none;
}


a:hover {
  color: rgb(119, 119, 119);
  text-decoration: rgb(0, 0, 0) wavy underline;
}


a:active {
  color: rgb(67, 160, 247);
}


#createPlayer {
  width: 50%;
  height: auto;
  margin-top: 10vh;
}

.player-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

button {
  font-family: 'MavenPro', sans-serif;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}


h2 {
  font-family: 'MavenPro', sans-serif;
  color: rgb(27, 27, 27);
  margin-right: 10px;
  width: 120px;
}

input {
  flex: 1;
  font-family: 'MavenPro', sans-serif;
  font-size: xx-large;
  width: 10vh;
  margin-left: 10px;
}


body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}