@font-face {
  font-family: 'MavenPro';
  src: local('MavenPro'), url('MavenPro-VariableFont_wght.ttf'), format('ttf');
}

body {
  background-image: url(homepagezzz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;

}


nav {
  text-align: center;
  font-family:'MavenPro', sans-serif;
  font-size: 30px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;


  text-align: center;
  font-family: 'MavenPro', sans-serif;
  font-size: 30px;
}


a:link {
  color: rgb(67, 160, 247);
  text-decoration: none;
}


a:visited {
  color: rgb(67, 160, 247);
  text-decoration: none;
}


a:hover {
  color: rgb(119, 119, 119);
  text-decoration: rgb(0, 0, 0) wavy underline;
}


a:active {
  color: blue;
}

